<div class="comment_input">
  <div class="label label-info">发表讨论</div>
  <div id="comment">
    <%= form_for comment do |f| %>
      <%= f.kindeditor :content, :simple_mode => true,:editor_id=>'comment_editor' %>
      <%= f.hidden_field :post_id, :value=>post.id%>
      <%=f.submit "发送", :class=>"btn btn-info"%>
  <%end%>
  </div>
</div>
