<!DOCTYPE html>
<html>
<head>
  <title>Squirrel</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "squirrel/application", media: "all" %>
  <%= javascript_include_tag "squirrel/application" %>
  <%= csrf_meta_tags %>

  <!-- jQuery library -->

  <!-- Latest compiled JavaScript -->
</head>
<body>

<%= yield %>

</body>
</html>
